
dev_staging_spaon/.vs/dev_staging_spaon/v16/.suo
*.js
*.nupkg
*.css
*.xml
dev_staging_spaon/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
*.rsp
*.ps1
*.EXE
*.targets
*.xdt
*.props
*.p7s
*.md
*.cache
*.woff
*.woff2
*.ttf
*.svg
*.asax
*.map
*.txt
*.pp
*.eot
*.transform
*.pdb
